@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

html,
body {
    height: 100%
}

.container {
    display: grid;
    align-items: start;
    justify-content: stretch;
    font-family: 'Source Sans Pro', sans-serif;
}

.card {
    position: relative;
    display: flex;
    padding: 5px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}

.float-right {
    float: right;
}

.list-group {
    border: none;
}

.align-left {
    text-align: left;
}